<section clas="register">
  <form>
    <div class="header">
      <h1>Register</h1>
      <p></p>
    </div>
      <fieldset>
        <input type="firstname" name="firstname" placeholder="First Name">
        <input type="lastname" name="lastname" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="city" name="city" placeholder="City">
      </fieldset>
    
    <button type="submit" class="btn">submit</button>
    
  </form>
</section>